/* @type */

.pane {
  padding: 30px;
  height: 100%;
  overflow: auto;
  position: relative;
}

.header {
  padding: 10px 0;
}
.category {
  color: cadetblue;
}
.main {
  line-height: 2em;
}

.footer {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
